<router-outlet></router-outlet>
<div id="nav-bar" [class.scrolled]="isScrolled">
    <button class="nav-item button-faint" routerLink="/labs" routerLinkActive="active-nav">Labs</button>
    <button class="nav-item button-faint" routerLink="/datasets" routerLinkActive="active-nav">Datasets</button>
    <button class="nav-item button-faint" routerLink="/models" routerLinkActive="active-nav">Models</button>
    <button class="nav-item button-faint" routerLink="/lessons" routerLinkActive="active-nav">Lessons</button>
</div>